

.colorText{
    background-color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: darkturquoise;
}
.boxT{
    background-color: lightgrey;
    width: 300px;
    border: 15px solid blue;
    padding: 50px;
    margin: 20px;
}
.box{
    background-color: lightgrey;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}